.user-form {
    display: flex;
    flex-direction: column;

    border: 1px solid blue;
    border-radius: 20px;

    width: 250px;

    padding: 20px 40px;
    margin: 30px auto;

    gap: 24px;

    &__checkbox {
        height: 16px;
        width: 16px;
        margin-right: 8px;
    }

    &__title {
        color: blue;
        font-weight: bold;
        font-size: 40px;
        align-self: center;

        text-align: center;
    }

    &__field {
        box-sizing: border-box;

        height: 38px;
        width: 100%;

        border: 1px solid lightgray;
        border-radius: 10px;
    }

    &__row {
        position: relative;

        &--country {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
        }
    }

    &__button {
        box-sizing: border-box;
        height: 38px;

        font-size: 20px;
        color: white;
        background-color: blue;

        border: none;
        border-radius: 19px;
    }

    &__link {
        text-decoration: underline;
        color: blue;
        align-self: center;

        &:hover {
            cursor: pointer;
        }
    }

    &__error {
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        color: red;
        font-size: 12px;

        align-self: center;
        text-align: center;
    }
}