.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;
    padding: 0 24px;

    background: linear-gradient(180deg, rgba(0,66,176,1) 0%, rgba(0,134,255,1) 100%);
}

.header__title {
    color: white;
    font-size: 24px;
    margin: 0;
}

.header__button {
    height: 32px;
    width: 80px;

    border-radius: 20px;
    border-style: none;

    background-color: white;
    color: #42a5f5;
    font-size: 18px;

    transition: 0.3s;
}

.header__button:hover {
    transform: scale(110%);
}